<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
    <title>HZJC Tech.</title>
    <link rel="stylesheet" href="https://unpkg.com/onsenui/css/onsenui.min.css">
    <link rel="stylesheet" href="https://unpkg.com/onsenui/css/onsen-css-components.min.css">
    <script src="https://unpkg.com/onsenui/js/onsenui.min.js"></script>
    <script src="https://unpkg.com/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/epubjs/dist/epub.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.5/jszip.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="/js/index.js"></script>
    <script src="/js/tab2.js"></script>
    <script src="/js/tab3.js"></script>
    <script src="/js/tab4.js"></script>
  </head>
  <body>
    <ons-page>
      <ons-toolbar>
        <div class="center">怀志敬诚</div>
        <div class="right">
          <ons-toolbar-button onclick="addItem()"><ons-icon icon="fa-plus" spin></ons-icon>新增企业</ons-toolbar-button>
        </div>
      </ons-toolbar>
    
      <ons-tabbar swipeable position="auto">
        <ons-tab page="tab1.html" label="主页" icon="ion-home, material:md-home" badge="7" active>
        </ons-tab>
        <ons-tab page="tab2.html" label="设置" icon="md-settings" active-icon="md-face">
        </ons-tab>
        <ons-tab page="tab3.html" label="地图" icon="ion-compass">
        </ons-tab>
        <ons-tab page="tab4.html" label="读书" icon="book">
        </ons-tab>
      </ons-tabbar>
    </ons-page>
    
    <template id="tab1.html">
      <ons-page id="Tab1">
        <div style="text-align: center; margin-top: 30px;">
          <form id="form_1" action="/" method="post">
            <p>
              <ons-input name="city" modifier="underbar" placeholder="请输入城市名称" float></ons-input>
            </p>
            <p style="margin-top: 30px;">
              <!--<button type="submit" class="button">查询天气</button>-->
              <ons-button onclick="queryWeather()">查询天气</ons-button>
            </p>
          </form>
          <% if(weather !== null){ %>
          <p style="color: green;"><%= weather %></p>
          <% } %>
          <% if(error !== null){ %>
          <p style="color: red;"><%= error %></p>
          <% } %>
          <form id="form_2" action="/read_file" method="post">
            <p style="margin-top: 30px;">
              <ons-button onclick="readfile()">充值</ons-button>
            </p>
          </form>
        </div>
      </ons-page>
    </template>
    
    <template id="tab2.html">
      <ons-page id="Tab2">
        <ons-list>
        </ons-list>
      </ons-page>
    </template>

    <template id="tab3.html">
      <ons-page id="Tab3">
        <p id="tip">
        </p>
        <div id="amaps">
        </div>
      </ons-page>
    </template>

    <template id="tab4.html">
      <ons-page id="Tab4">
        <div style="text-align: center; margin-top: 30px;" id="area">
          <p style="margin-top: 30px;">
            <ons-button onclick="goPre()">上一页</ons-button>
            <ons-button onclick="goNext()">下一页</ons-button>
          </p>
        </div>
      </ons-page>
    </template>

  </body>
</html>
