<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
    <title>HZJC Tech.</title>
    <link rel="stylesheet" href="https://unpkg.com/onsenui/css/onsenui.min.css">
    <link rel="stylesheet" href="https://unpkg.com/onsenui/css/onsen-css-components.min.css">
    <script src="https://unpkg.com/onsenui/js/onsenui.min.js"></script>
    <script src="https://unpkg.com/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/epubjs/dist/epub.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.5/jszip.min.js"></script>
    <script src="/js/tab4.js"></script>
  </head>
  <body>
    <ons-page id="Tab1">
      <div style="text-align: center; margin-top: 30px;" id="area">
        <p style="margin-top: 30px;">
          <ons-button onclick="goPre()">Prev</ons-button>
          <ons-button onclick="goNext()">Next</ons-button>
        </p>
      </div>
    </ons-page>
  </body>
</html>
